main {
  display: flex;
  justify-content: center;
  background: url(/images/dark.jpg) no-repeat center center/cover;
}

.container {
  display: center;
  height: 100vh;
}

#pdf-container {
  height: 600px; /* Set the desired height */
  overflow: auto; /* Add scrollbars if necessary */
}

canvas {
  display: block;
  margin: 0 auto;
}

.pdf-page-container {
  margin-bottom: 10px;

}



.content-header{
  display: center;
  background-color: #00adb5;
  border-radius: 10px;
  color: white;
  margin-bottom: 5;
  padding: 2rem;
}

.content-header h1{
  text-align: center;
  margin-bottom: 20px;
}

.result-container {
  display: flex;

}

.result-item {
  display: center;
  background-color: rgb(253, 253, 253);
  border-radius: 15px;
  padding: 1rem;
  gap: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}


.buttons {
  display: flex;
  margin-top: 25px;
}

.buttons a {
  background-color: #ffffff;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-right: 10px;
}

.buttons a:hover {
  background-color: #015c61;
}
